---
import DefaultPageLayout from "$/layouts/default.astro";
import PostPreviewList from "$components/PostPreviewList.astro";
import { getAllPosts, getAllAuthors, getSettings } from "$/utils/api";
import { Debug } from 'astro/components';
import { twitter, facebook } from "@tryghost/social-urls";

export async function getStaticPaths({}) {
  const { posts } = await getAllPosts({ include: "authors,tags" });
  const { authors } = await getAllAuthors({ include: "count.posts" });
  const { settings } = await getSettings();

  return authors.map((author) => {
    const filteredPosts = posts.filter((post) =>
      post.authors.map((author) => author.slug).includes(author.slug)
    );
    return {
      params: { slug: author.slug },
      props: {
        posts: filteredPosts,
        settings,
        author,
      },
    };
  });
}

const { posts, settings, author } = Astro.props;
const { params } = Astro.params;
---

<DefaultPageLayout
  bodyClass={`author-template author-${author.slug}`}
  settings={settings}
>
  <main id="site-main" class="site-main outer">
    <div class="inner author">Author page Not implemented yet, author:</div>
    <Debug {author} />
  </main>
</DefaultPageLayout>
