/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
mark {
  background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 3 */
  color: inherit; /* 1 */
  font: inherit; /* 2 */
}
button {
  overflow: visible;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* 3 */

  -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box; /* 2 */

  -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  padding: 0; /* 2 */
  border: 0; /* 1 */
}
textarea {
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 62.5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: #35373a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

::selection {
  text-shadow: none;
  background: #daf2fd;
}

hr {
  position: relative;
  display: block;
  width: 100%;
  margin: 2.5em 0 3.5em;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #f0f0f0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

::not(.gh-content) p,
::not(.gh-content) ul,
::not(.gh-content) ol,
::not(.gh-content) dl,
::not(.gh-content) blockquote {
  margin: 0 0 1.5em 0;
}

ol,
ul {
  padding-left: 1.3em;
  padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.5em 0 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  max-width: 100%;
}

li {
  padding-left: 0.3em;
  line-height: 1.6em;
}

li + li {
  margin-top: 0.5em;
}

dt {
  float: left;
  margin: 0 20px 0 0;
  width: 120px;
  color: #daf2fd;
  font-weight: 500;
  text-align: right;
}

dd {
  margin: 0 0 5px 0;
  text-align: left;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1.6em 0 1.6em;
  border-left: #daf2fd;
}

blockquote p {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 300;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: bold;
}
blockquote cite a {
  font-weight: normal;
}

a {
  color: #15171a;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.15;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.01em;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.015em;
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2.8rem;
  font-weight: 700;
}
@media (max-width: 600px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2.4rem;
  font-weight: 600;
}
@media (max-width: 600px) {
  h3 {
    font-size: 1.7rem;
  }
}

h4 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2.2rem;
}

h5 {
  margin: 1.5em 0 0.5em 0;
  font-size: 2rem;
}

h6 {
  margin: 1.5em 0 0.5em 0;
  font-size: 1.8rem;
}

/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css

1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
  4.1 Home header
  4.2 Archive header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Post Byline
  7.2. Members Subscribe Form
  7.4. Related Posts
  7.5. Koenig Styles
8.  Author Template
9.  Error Template
11. Site Footer
12. Dark Mode

*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

/* Import CSS reset and base styles */

:root {
  /* Colours */
  --color-green: #a4d037;
  --color-yellow: #fecd35;
  --color-red: #f05230;
  --color-darkgrey: #15171a;
  --color-midgrey: #738a94;
  --color-lightgrey: #c5d2d9;
  --color-wash: #e5eff5;
  --color-darkmode: #151719;

  /*
    An accent color is also set by Ghost itself in
    Ghost Admin > Settings > Brand

    --ghost-accent-color: {value};

    You can use this variale throughout your styles
     */

  /* Fonts */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --ghost-accent-color: #7550f7;
  --global-theme-notifications: flex; /* flex/none */
  --global-intro-bg: var(--color-primary); /* you can add your own color */
  --global-theme-toggle: flex; /* flex/none */
  --global-search: flex; /* flex/none */
  --global-search-by-tag: flex; /* flex/none */
  --global-max-width: 1390px; /* site max width */
  --global-content-width: 40rem; /* post-content-width */
  --global-radius: 5px; /* default radius */
  --global-gallery-gap: 0.5em; /* Image gallery distance between images */
  --global-hyphens: none; /* none/auto */
  --global-header-position: sticky; /* relative/sticky */
  --global-header-height: 80px;
  --global-progress-bar: visible; /* visible/hidden */
  --global-scroll-top: hidden; /* visible/hidden */
  --global-content-preview-fading: 10%; /* 80%-100% for fading effect */
  --global-announcement-height: 60px;
}

/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.viewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex-grow: 1;
}

/* Full width page blocks */
.outer {
  position: relative;
  padding: 0 4vmin;
}

/* Centered content container blocks */
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* 9. Error Template
/* ---------------------------------------------------------- */

.error-content {
  padding: 14vw 4vw 6vw;
}

.error-message {
  padding-bottom: 10vw;
  text-align: center;
}

.error-code {
  margin: 0;
  color: var(--ghost-accent-color);
  font-size: 12vw;
  line-height: 1em;
  letter-spacing: -5px;
}

.error-description {
  margin: 0;
  color: var(--color-midgrey);
  font-size: 3.2rem;
  line-height: 1.3em;
  font-weight: 400;
}

.error-link {
  display: inline-block;
  margin-top: 5px;
}

@media (min-width: 940px) {
  .error-content .post-card {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (max-width: 800px) {
  .error-content {
    padding-top: 24vw;
  }
  .error-code {
    font-size: 11.2rem;
  }
  .error-message {
    padding-bottom: 16vw;
  }
  .error-description {
    margin: 5px 0 0 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .error-content {
    padding-top: 28vw;
  }
  .error-message {
    padding-bottom: 14vw;
  }
}

/* 11. Site Footer
/* ---------------------------------------------------------- */

/* 12. Dark Mode
/* ---------------------------------------------------------- */

/* If you prefer a dark color scheme, you can enable dark mode
by adding the following code to the Head section of "Code Injection"
settings inside: Ghost Admin > Settings > Advanced

<script>document.documentElement.classList.add('dark-mode');</script>

Or you can just edit default.hbs and add the .dark-mode class directly
to the html tag on the very first line of the file.

 */

html.dark-mode body {
  color: rgba(255, 255, 255, 0.75);
  background: var(--color-darkmode);
}

html.dark-mode img {
  opacity: 0.9;
}

html.dark-mode .post-card,
html.dark-mode .post-card:hover {
  border-bottom-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .post-card-byline-content a {
  color: rgba(255, 255, 255, 0.75);
}

html.dark-mode .post-card-byline-content a:hover {
  color: #fff;
}

html.dark-mode .post-card-image {
  background: var(--color-darkmode);
}

html.dark-mode .post-card-title {
  color: rgba(255, 255, 255, 0.85);
}

html.dark-mode .post-card-excerpt {
  color: color-mod(var(--color-midgrey) l(+10%));
}

html.dark-mode .post-full-content {
  background: var(--color-darkmode);
}

html.dark-mode .article-title {
  color: rgba(255, 255, 255, 0.9);
}

html.dark-mode .article-excerpt {
  color: color-mod(var(--color-midgrey) l(+10%));
}

html.dark-mode .post-full-image {
  background-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .article-byline {
  border-top-color: color-mod(var(--color-darkmode) l(+15%));
}

html.dark-mode .article-byline-meta h4 a {
  color: rgba(255, 255, 255, 0.75);
}

html.dark-mode .article-byline-meta h4 a:hover {
  color: #fff;
}

html.dark-mode .no-image .author-social-link a {
  color: rgba(255, 255, 255, 0.75);
}

html.dark-mode .gh-content h1,
html.dark-mode .gh-content h2,
html.dark-mode .gh-content h3,
html.dark-mode .gh-content h4,
html.dark-mode .gh-content h5,
html.dark-mode .gh-content h6 {
  color: rgba(255, 255, 255, 0.9);
}

html.dark-mode .gh-content pre {
  background: color-mod(var(--color-darkgrey) l(-8%));
}

html.dark-mode .gh-content :not(pre) > code {
  background: color-mod(var(--color-darkgrey) l(+6%));
  border-color: color-mod(var(--color-darkmode) l(+8%));
  color: var(--color-wash);
}

html.dark-mode .post-full-content a {
  color: #fff;
  box-shadow: inset 0 -1px 0 #fff;
}

html.dark-mode .post-full-content strong {
  color: #fff;
}

html.dark-mode .post-full-content em {
  color: #fff;
}

html.dark-mode .post-full-content code {
  color: #fff;
  background: #000;
}

html.dark-mode hr {
  border-top-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .post-full-content hr:after {
  background: color-mod(var(--color-darkmode) l(+8%));
  box-shadow: var(--color-darkmode) 0 0 0 5px;
}

html.dark-mode .gh-content figcaption {
  color: rgba(255, 255, 255, 0.6);
}

html.dark-mode .post-full-content table td:first-child {
  background-image: linear-gradient(
    to right,
    var(--color-darkmode) 50%,
    color-mod(var(--color-darkmode) a(0%)) 100%
  );
}

html.dark-mode .post-full-content table td:last-child {
  background-image: linear-gradient(
    to left,
    var(--color-darkmode) 50%,
    color-mod(var(--color-darkmode) a(0%)) 100%
  );
}

html.dark-mode .post-full-content table th {
  color: rgba(255, 255, 255, 0.85);
  background-color: color-mod(var(--color-darkmode) l(+8%));
}

html.dark-mode .post-full-content table th,
html.dark-mode .post-full-content table td {
  border: color-mod(var(--color-darkmode) l(+8%)) 1px solid;
}

html.dark-mode .post-full-content .kg-bookmark-container,
html.dark-mode .post-full-content .kg-bookmark-container:hover {
  color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}

html.dark-mode .post-full-content input {
  color: color-mod(var(--color-midgrey) l(-30%));
}

html.dark-mode .kg-bookmark-title {
  color: #fff;
}

html.dark-mode .kg-bookmark-description {
  color: rgba(255, 255, 255, 0.75);
}

html.dark-mode .kg-bookmark-metadata {
  color: rgba(255, 255, 255, 0.75);
}

html.dark-mode .site-archive-header .no-image {
  color: rgba(255, 255, 255, 0.9);
  background: var(--color-darkmode);
}

html.dark-mode .subscribe-form {
  border: none;
  background: linear-gradient(
    color-mod(var(--color-darkmode) l(-6%)),
    color-mod(var(--color-darkmode) l(-3%))
  );
}

html.dark-mode .subscribe-form-title {
  color: rgba(255, 255, 255, 0.9);
}

html.dark-mode .subscribe-form p {
  color: rgba(255, 255, 255, 0.7);
}

html.dark-mode .subscribe-email {
  border-color: color-mod(var(--color-darkmode) l(+6%));
  color: rgba(255, 255, 255, 0.9);
  background: color-mod(var(--color-darkmode) l(+3%));
}

html.dark-mode .subscribe-email:focus {
  border-color: color-mod(var(--color-darkmode) l(+25%));
}

html.dark-mode .subscribe-form button {
  opacity: 0.9;
}

html.dark-mode .subscribe-form .invalid .message-error,
html.dark-mode .subscribe-form .error .message-error {
  color: color-mod(var(--color-red) l(+5%) s(-5%));
}

html.dark-mode .subscribe-form .success .message-success {
  color: color-mod(var(--color-green) l(+5%) s(-5%));
}
