---
import Header from "$components/Header.astro";
import Footer from "$components/Footer.astro";
import type { GhostSettings } from "$/types";
export type Props = {
  settings: GhostSettings;
};
const { settings } = Astro.props as Props;
---

<div class="viewport">
  <Header settings={settings} />
  <div class="site-content">
    <slot></slot>
  </div>
  <Footer settings={settings} />
</div>

<style>
  .content {
    min-height: 580px;
  }
</style>
